<dl>
	<dt><label for="avatar_crafatar_username">{L_CRAFATAR_AVATAR_NAME}{L_COLON}</label><br /><span>{L_AVATAR_CRAFATAR_NAME_EXPLAIN}</span></dt>
	<dd><input type="text" name="avatar_crafatar_username" id="avatar_crafatar_username" value="{AVATAR_CRAFATAR_USERNAME}" class="inputbox autowidth" /></dd>
</dl>

<dl>
	<dt><label for="avatar_crafatar_options">{L_CRAFATAR_OPTIONS}{L_COLON}</label><br /><span>{L_AVATAR_CRAFATAR_OPTIONS_EXPLAIN}</span></dt>
	<dd>
		<select name="avatar_crafatar_options" id="avatar_crafatar_options" class="autowidth">{AVATAR_CRAFATAR_OPTIONS}</select>
	</dd>
</dl>

<ul class="linklist">
	<li class="rightside">
		{L_CRAFATAR_CRAFATARAVATAR}
	</li>
</ul>
