<div class="row">
   <div class="col-md-6">
    <div class="control-group">
	    <label class="control-label" for="avatar_minotar_username">{L_MINOTAR_AVATAR_NAME}{L_COLON}<span class="help-block">{L_AVATAR_MINOTAR_NAME_EXPLAIN}</span></label>
		<div class="controls controls-row"> 
			<input class="form-control" type="text" name="avatar_minotar_username" id="avatar_minotar_username" value="{AVATAR_MINOTAR_USERNAME}">
		</div>
	</div>
   </div>
   <div class="col-md-6">
    <div class="control-group">
	    <label class="control-label" for="avatar_minotar_options">{L_MINOTAR_OPTIONS}{L_COLON}<span class="help-block">{L_AVATAR_MINOTAR_OPTIONS_EXPLAIN}</span></label>
		<div class="controls controls-row"> 
			<select class="selectpicker" data-container="body" name="avatar_minotar_options" id="avatar_minotar_options">{AVATAR_MINOTAR_OPTIONS}</select>
		</div>
	</div>
   </div>
</div>